include sovapy/computation/*.txt
include sovapy/computation/histogram/*.so
include sovapy/computation/histogram/*.pyd
include sovapy/computation/split_and_merge/domain_centers/*.so
include sovapy/computation/split_and_merge/domain_centers/*.pyd
include sovapy/computation/split_and_merge/util/numpy_extension/*.so
include sovapy/computation/split_and_merge/util/numpy_extension/*.pyd
include sovapy/computation/cavity_calculation/extension/*.so
include sovapy/computation/cavity_calculation/extension/*.dll
include sovapy/computation/cavity_calculation/extension/*.dylib
include sovapy/libs/cif2cell/*.so
include sovapy/libs/cif2cell/*.pyd